*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
    
}

.logo {
    margin-left: 10px;
    display: flex;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.navbar a {
    display: block;
    padding: 25px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: gray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 100vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
 p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
 }

 h3 {
    color: white;
    text-transform: uppercase;
 }

 .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: white;
    text-decoration: none;
    background: #9c27b0;
 }

 .btn:hover {
    background: none;
 }

 .btn-home {
    display: flex;
 }
 .btn-home a {
    margin: 0 10px;
 }

 .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
 }

 .sau {
    padding: 5px;
    background: #1f1d1d;
 }

 .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

 }

 .box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
 }

 .box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
 }

.box-container.box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p {
    padding: 0 30px;
    font-size: 16px;
}

.about {
    background:  #171717;
    padding: 0 10px;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 0 200px;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width : 788px){

    .title {
        margin-bottom: 0;
        font-size: 40;
    }

    .sau {
        height: 150vh;
    }

    .about {
        height: 170vh;
    }


    .navbar a {
        display: block;
        padding: 25px 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 8px;
    }
    
}

html {
    scroll-behavior: smooth;
}

.section {
    scroll-margin-top: 60vh;
}

.logo-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
    align-items: center;
}